@charset "utf-8";

#readOverlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#readInner {
    text-align: left;
    line-height: 1.4em;
    margin: 1em auto;
}

#readInner a {
    color: blue;
    text-decoration: underline;
}

#readInner * {
    margin-bottom: 16px;
    border: none;
    background: none;
}

#readInner img {
    float: left;
    margin-right: 12px;
    margin-bottom: 12px;
}

#readInner h1 {
    display: block;
    width: 100%;
    border-bottom: 1px solid #333;
    font-size: 1.2em;
}

#readInner blockquote {
    margin-left: 3em;
    margin-right: 3em;
}

span.version {
    display: none;
}

.size-medium {
    font-size: 18px;
}

.margin-narrow {
    width: 98%;
}

.style-novel {
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    background: #FFF;
    color: #222;
}

